<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirecionar para arquivos estáticos na pasta public/build/assets
    RewriteCond %{REQUEST_URI} ^/build/assets/ [NC]
    RewriteCond %{DOCUMENT_ROOT}/public_html/public%{REQUEST_URI} -f
    RewriteRule ^(build/assets/.*)$ public/$1 [L,NC]

    # Redirecionar todas as requisições para o diretório public
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>